---
import '../../styles/global.css'
import TwoFA from '@/components/admin/2FA.astro'
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Panel de administración para Better With a Teacher. Gestiona tours, reservas y más con facilidad.">
		<title>Panel de administracion | Better With a Teacher</title>
		<meta name="robots" content="noindex, nofollow">
	</head>
	<body>
		<TwoFA />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
