@import "tailwindcss";
@theme {
  --color-buttons: #E82933;
  --color-text-button : #FCF7F7;
  --color-text : #1C0D0D;
  --color-fondo : #FCF7F7;
  --color-fondo-place : #F2E8E8;
  --color-text-place : #994D52;
  --color-selected : #B99597;
  --color-table : #E8D1D1;

}