---

---

<section class="flex justify-center items-center h-full">
  <form
    action=""
    class="flex flex-col gap-4 p-6 max-w-sm w-full shadow-2xl rounded"
    aria-labelledby="form-title"
  >
    <h1 id="form-title" class="text-xl font-bold text-center">
      Ingresa el codigo de verificación
    </h1>
    <p class="text-center text-sm">
      Por favor ingresa el código de 6 dígitos que aparece en la aplicación de tu móvil.
    </p>
    <div class="flex flex-col">
      <input
        type="text"
        id="verificationCode"
        name="verificationCode"
        required
        class="p-2 bg-fondo-place text-center rounded focus:outline-none focus:ring-2 focus:ring-text-place"
      />
    </div>
    <button
      type="submit"
      class="bg-buttons py-2 px-4 rounded-4xl text-text-button cursor-pointer hover:opacity-90"
    >
      Verificar
    </button>
  </form>
</section>
<script>
  import { actions } from "astro:actions";
  import { Notyf } from "notyf";
  const form = document.querySelector("form") as HTMLFormElement;
  const token = sessionStorage.getItem("loginToken");
  const notyf = new Notyf({
    duration: 3000,
    position: { x: "center", y: "bottom" },
    types: [
      {
        type: "custom-success",
        background: "#16a34a",
        icon: {
          className: "notyf__icon-custom",
          tagName: "div",
        },
      },
      {
        type: "custom-error",
        background: "#dc2626",
        icon: {
          className: "notyf__icon-custom2",
          tagName: "div",
        },
      },
    ],
  });
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    formData.append("token", token || "");
    const {data, error} = await actions.login.verify2FA(formData);
 
    if (data && data.success) {
      window.location.href = "/aNKiNFLow/dashboard";
      }else{
        notyf.open({
        type: "custom-error",
        message: data?.message || error?.message || "Credenciales Incorrectas",
      });
      }
  });
</script>
