---

---

<section class="flex justify-center items-center h-full">
  <form
    action=""
    class="flex flex-col gap-4 p-6 max-w-sm w-full shadow-2xl rounded"
    aria-labelledby="form-title"
  >
    <h1 id="form-title" class="text-xl font-bold text-center">
      Activacion de 2 factores
    </h1>
    <p class="text-center text-sm">
      Como medida de seguridad necesitamos que agregues un segundo factor para
      iniciar la sesión. Para esto debes instalar en tu móvil la aplicación
      <a
        class="text-blue-500 underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=es_CL&pli=1"
        >Autenticador de Google</a
      >
      y agregues la autentificacion mediante este QR
    </p>
    <div class="flex flex-col">
      <img id="qr" alt="QR de autenticación" />
      <input
        type="text"
        id="verificationCode"
        name="verificationCode"
        required
        class="p-2 bg-fondo-place text-center rounded focus:outline-none focus:ring-2 focus:ring-text-place"
      />
    </div>
    <button
      type="submit"
      class="bg-buttons py-2 px-4 rounded-4xl text-text-button cursor-pointer hover:opacity-90"
    >
      Verificar
    </button>
  </form>
</section>
<script>
  import { actions } from "astro:actions";
  import { Notyf } from "notyf";
  const form = document.querySelector("form") as HTMLFormElement;
  const qr = document.getElementById("qr") as HTMLImageElement;
  const notyf = new Notyf({
    duration: 3000,
    position: { x: "center", y: "bottom" },
  });
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const {data, error} = await actions.login.verify2FA(formData);
    if (data && data.success) {
        window.location.href = "/es/aNKiNFLow/dashboard"; 
    } else {
      notyf.error({
        message: data?.message || error?.message || "Credenciales Incorrectas",
      });
      console.error("Error al validar los datos");
    }
  });

  async function getQR() {
    const {data, error} = await actions.login.activa2FA();

    if(!data?.success){
      notyf.error({
        message: "No pudimos generar el QR",
      });
    }
    if (data?.qr) {
      qr.src = data.qr;
    }
  }

  getQR();
</script>
