---

---

<section class="flex justify-center items-center h-full">
  <form
    action=""
    class="flex flex-col gap-4 p-6 max-w-sm w-full shadow-2xl rounded"
    aria-labelledby="form-title"
  >
    <h1 id="form-title" class="text-xl font-bold text-center">
      Activacion de 2 factores
    </h1>
    <p class="text-center text-sm">
      Como medida de seguridad necesitamos que agregues un segundo factor para
      iniciar la sesión. Para esto debes instalar en tu móvil la aplicación
      <a
        class="text-blue-500 underline"
        target="_blank"
        rel="noopener noreferrer"
        href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=es_CL&pli=1"
        >Autenticador de Google</a
      >
      y agregues la autentificacion mediante este QR
    </p>
    <div class="flex flex-col">
      <img id="qr" alt="QR de autenticación" />
      <input
        type="text"
        id="verification-code"
        name="verification-code"
        required
        class="p-2 bg-fondo-place text-center rounded focus:outline-none focus:ring-2 focus:ring-text-place"
      />
    </div>
    <button
      type="submit"
      class="bg-buttons py-2 px-4 rounded-4xl text-text-button cursor-pointer hover:opacity-90"
    >
      Verificar
    </button>
  </form>
</section>
<script>
  import { Notyf } from "notyf";
  const form = document.querySelector("form") as HTMLFormElement;
  const qr = document.getElementById("qr") as HTMLImageElement;
  const token = sessionStorage.getItem("loginToken") || "";
  const notyf = new Notyf({
    duration: 3000,
    position: { x: "center", y: "bottom" },
    types: [
      {
        type: "custom-success",
        background: "#16a34a",
        icon: {
          className: "notyf__icon-custom",
          tagName: "div",
        },
      },
      {
        type: "custom-error",
        background: "#dc2626",
        icon: {
          className: "notyf__icon-custom2",
          tagName: "div",
        },
      },
    ],
  });
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    formData.append("token", token);
    const response = await fetch("/aNKiNFLow/api/verificar-2fa", {
      method: "POST",
      body:formData
    });
    const data = await response.json();
     if (response.ok) {
        if(data.success){
          window.location.href = "/aNKiNFLow/dashboard"; 
        }
    } else {
      notyf.open({
        type: "custom-error",
        message: data.message || "Credenciales Incorrectas",
      });
      console.error("Error al validar los datos");
    }
  });

  async function getQR() {
    const res = await fetch("/aNKiNFLow/api/activar-2fa", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ token }),
    });

    const data = await res.json();
    if (res.ok && data.success) {
      qr.src = data.qr;
    } else {
      notyf.open({
        type: "custom-error",
        message: data.message || "Error con la generacion del QR",
      });
    }
  }

  getQR();
</script>
