---
import HomeIcons from "@/assets/home.svg";
import ToursIcons from "@/assets/tours.svg";
import ConfigIcons from "@/assets/config.svg";
import Chevron from "@/assets/chevron.svg";
import Users from "@/assets/user.svg";
import Trofeo from "@/assets/trofeo.svg";
import Booking from "@/assets/booking.svg";
import Language from "@/assets/language.svg";
import LogOut from "@/assets/logout.svg";
---

<aside class="w-64 text-black p-4 shadow-lg">
  <h2 class="text-lg font-bold mb-6">Panel</h2>
  <nav class="flex flex-col gap-2">
    <a
      href="dashboard"
      class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
    >
      <HomeIcons />
      <span>Dashboard</span>
    </a>

    <a
      href="tours"
      class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
    >
      <ToursIcons />
      <span>Tours</span>
    </a>
    <a
      href="reservas"
      class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
    >
      <Booking />
      <span>Reservas</span>
    </a>
    <a
      href="#"
      class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
    >
      <ConfigIcons />
      <span>Configuración</span>
      <Chevron class="ml-auto transition-transform duration-200" />
    </a>
    <ul id="submenu-config" class="bg-white ml-5">
      <a
        href="idiomas"
        class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
      >
        <Language />
        <span>Idiomas</span>
      </a>
      <a
        href="usuario"
        class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
      >
        <Users />
        <span>Usuario</span>
      </a>
      <a
        href="premiados"
        class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
      >
        <Trofeo />
        <span>Premiados</span>
      </a>
    </ul>
  </nav>
  <div class="absolute bottom-3 w-58">
    <button
      type="button"
      class="logout flex gap-5 w-full justify-center items-center py-2 text-text-place text-sm rounded-lg shadow-md hover:bg-fondo-place cursor-pointer"
    >
      Salir
      <LogOut />
    </button>
  </div>
</aside>
<script>
  import { actions } from "astro:actions";

  const btnLogOut = document.querySelector(".logout") as HTMLButtonElement;
  btnLogOut.addEventListener("click", async () => {
    const { data, error } = await actions.login.logout();
    if (data && data.success) {
      window.location.href = "/aNKiNFLow/";
    }
  });
</script>
