---
import HomeIcons from "@/assets/home.svg";
import ToursIcons from "@/assets/tours.svg";
---

<aside class="w-64 text-black p-4 shadow-lg">
  <h2 class="text-lg font-bold mb-6">Panel</h2>
  <nav class="flex flex-col gap-2">
    <a
      href="dashboard"
      class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
    >
      <HomeIcons />
      <span>Dashboard</span>
    </a>

    <a
      href="tours"
      class="flex items-center gap-4 hover:bg-fondo-place py-2 px-4 rounded-3xl"
    >
      <ToursIcons />
      <span>Tours</span>
    </a>
  </nav>
</aside>
