---

---

<section class="flex justify-center items-center h-full">
  <form
    class="flex flex-col gap-4 p-6 max-w-sm w-full shadow-2xl rounded"
    aria-labelledby="form-title"
  >
    <h1 id="form-title" class="text-xl font-bold text-center">
      Better With a Teacher
    </h1>
    <div class="flex flex-col">
      <label for="email" class="mb-1">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        class="p-2 bg-fondo-place rounded focus:outline-none focus:ring-2 focus:ring-text-place"
        autocomplete="email"
      />
    </div>

    <div class="flex flex-col">
      <label for="pass" class="mb-1">Contraseña:</label>
      <input
        type="password"
        id="pass"
        name="pass"
        required
        class="p-2 bg-fondo-place rounded focus:outline-none focus:ring-2 focus:ring-text-place"
        autocomplete="current-password"
      />
    </div>

    <button
      type="submit"
      class="bg-buttons py-2 px-4 rounded-4xl text-text-button cursor-pointer hover:opacity-90"
    >
      Ingresar
    </button>
  </form>
</section>
<script>
  import { actions } from "astro:actions";
  import { Notyf } from "notyf";
  const form = document.querySelector("form") as HTMLFormElement;
  const notyf = new Notyf({
    duration: 3000,
    position: { x: "center", y: "bottom" },
    types: [
      {
        type: "custom-success",
        background: "#16a34a",
        icon: {
          className: "notyf__icon-custom",
          tagName: "div",
        },
      },
      {
        type: "custom-error",
        background: "#dc2626",
        icon: {
          className: "notyf__icon-custom2",
          tagName: "div",
        },
      },
    ],
  });
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const { data, error } = await actions.login.login(formData);

    if (!data?.success || error) {
        return notyf.open({
          type: "custom-error",
          message: data?.message || error?.message || "Error desconocido",
        });
    }
    sessionStorage.setItem("loginToken", data.token);

    if (data.twofa) {
        window.location.href = "/aNKiNFLow/verificacion"; 
    } else {
        window.location.href = "/aNKiNFLow/activacion"; 
    }
  
  });
</script>
