<article class="overflow-y-auto h-full">
    <header class="flex items-center justify-between bg-header h-16 px-11 my-4">
        <h1 class="text-4xl font-bold">Lista de tours</h1>
        <a href="nuevo" class="bg-fondo-place text-text-place text-sm py-2 px-4 rounded-4xl hover:bg-buttons hover:text-text-button" aria-label="Crear nuevo Tour">Crear Tour</a>
    </header>
    <section class="px-11">
    <div class="border border-table rounded-lg w-full">
        <table class="min-w-full w-full table-fixed">
            <thead>
                <tr class="text-left border-b border-table font-medium text-sm"> 
                    <th class="py-2 px-4 font-normal w-1/4">Nombre</th>
                    <th class="py-2 font-normal w-1/4">Estado</th>
                    <th class="py-2 font-normal w-1/4">Total</th>
                    <th class="py-2 font-normal w-1/4">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr class="hover:bg-fondo text-text text-sm border-b border-table last:border-b-0">
                    <td class="pl-4 py-4">Santiago</td>
                    <td>
                        <span class="bg-fondo-place rounded-3xl px-8 py-2">
                            Activo
                        </span>
                    </td>
                    <td>150</td>
                    <td>
                        <a href="#" class="text-text-place font-semibold hover:underline">Editar</a> |
                        <a href="#" class="text-text-place font-semibold hover:underline">Pausar</a> |
                        <a href="#" class="text-text-place font-semibold hover:underline">Ver</a> | 
                        <a href="#" class="text-text-place font-semibold hover:underline">Eliminar</a> 
                    </td>
                </tr>
                <tr class="hover:bg-fondo text-text text-sm border-b border-table last:border-b-0">
                    <td class="pl-4 py-4">Santiago</td>
                    <td>
                        <span class="bg-fondo-place rounded-3xl px-8 py-2">
                            Activo
                        </span>
                    </td>
                    <td>150</td>
                    <td>
                        <a href="#" class="text-text-place font-semibold hover:underline">Editar</a> |
                        <a href="#" class="text-text-place font-semibold hover:underline">Pausar</a> |
                        <a href="#" class="text-text-place font-semibold hover:underline">Ver</a> | 
                        <a href="#" class="text-text-place font-semibold hover:underline">Eliminar</a> 
                    </td>
                </tr>
                <tr class="hover:bg-fondo text-text text-sm border-b border-table last:border-b-0">
                    <td class="pl-4 py-4">Santiago</td>
                    <td>
                        <span class="bg-fondo-place rounded-3xl px-8 py-2">
                            Activo
                        </span>
                    </td>
                    <td>150</td>
                    <td>
                        <a href="#" class="text-text-place font-semibold hover:underline">Editar</a> |
                        <a href="#" class="text-text-place font-semibold hover:underline">Pausar</a> |
                        <a href="#" class="text-text-place font-semibold hover:underline">Ver</a> | 
                        <a href="#" class="text-text-place font-semibold hover:underline">Eliminar</a> 
                    </td>
                </tr>
                <tr class="hover:bg-fondo text-text text-sm border-b border-table last:border-b-0">
                    <td class="pl-4 py-4">Santiago</td>
                    <td>
                        <span class="bg-fondo-place rounded-3xl px-8 py-2">
                            Activo
                        </span>
                    </td>
                    <td>150</td>
                    <td>
                        <a href="#" class="text-text-place font-semibold hover:underline">Editar</a> |
                        <a href="#" class="text-text-place font-semibold hover:underline">Pausar</a> |
                        <a href="#" class="text-text-place font-semibold hover:underline">Ver</a> | 
                        <a href="#" class="text-text-place font-semibold hover:underline">Eliminar</a> 
                    </td>
                </tr>
                <!-- Más filas -->
            </tbody>
        </table>
    </div>
</section>

</article>