---
import Layout from '@/layouts/Layout.astro'
import Detail from '@/components/Detail.astro'
import Booking from '@/components/Booking.astro'
const {slug} = Astro.params;
---

<Layout mainClass="px-20">
    <div class="flex flex-row">
        <Detail  />
        <Booking />
    </div>
</Layout>
