---
import { ui } from "@/i18n/ui";

const { lang } = Astro.params;
const t = ui[lang || "es"];
---

<section class="md:p-18 p-5">
  <form class="md:max-w-lg md:mx-auto">
    <h2 class="text-2xl font-bold mb-4">{t["confirm.title"]}</h2>

    <div class="mb-4">
      <label for="nombre" class="block text-[16px] font-medium mb-2"
        >{t["confirm.name"]}
        <span class="text-red-800 align-middle">*</span>
      </label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        class="w-full p-3 bg-fondo-place text-text-place rounded-lg focus:outline-none focus:ring-2 focus:ring-text-place"
        required
        placeholder={t["confirm.name.label"]}
      />
    </div>
    <div class="mb-4">
      <label for="apellido" class="block text-[16px] font-medium mb-2"
        >{t["confirm.last_name"]}
        <span class="text-red-800 align-middle">*</span>
      </label>
      <input
        type="text"
        id="apellido"
        name="apellido"
        class="w-full p-3 bg-fondo-place text-text-place rounded-lg focus:outline-none focus:ring-2 focus:ring-text-place"
        required
        placeholder={t["confirm.last_name.label"]}
      />
    </div>
    <div class="mb-4">
      <label for="email" class="block text-[16px] font-medium mb-2"
        >{t["confirm.email"]} <span class="text-red-800 align-middle">*</span>
      </label>
      <input
        type="email"
        id="email"
        name="email"
        class="w-full p-3 bg-fondo-place text-text-place rounded-lg focus:outline-none focus:ring-2 focus:ring-text-place"
        required
        placeholder={t["confirm.email.label"]}
      />
    </div>
    <div class="mb-4">
      <label for="telefono" class="block text-[16px] font-medium mb-2"
        >{t["confirm.phone"]}
     <span class="text-red-800 align-middle">*</span>
    </label
      >
      <input
        type="tel"
        id="telefono"
        name="telefono"
        class="w-full p-3 mb-2 bg-fondo-place text-text-place rounded-lg focus:outline-none focus:ring-2 focus:ring-text-place"
        required
        placeholder={t["confirm.phone.label"]}
      />
    </div>

    <button
      type="submit"
      id="btnConfirmar"
      class="bg-buttons text-text-button cursor-pointer w-full py-3 px-4 rounded-full"
    >
      {t["confirm.button"]}
    </button>
  </form>
</section>

<script>
  import QRCode from "qrcode";
  import { Notyf } from "notyf";
  import { thowConfetti } from "../utils/confetti";
  import { actions } from "astro:actions";
  const ticket = document.getElementById("ticketReady") as HTMLElement;
  const imgTourElement = document.getElementById("imgTour") as HTMLImageElement;
  const tourElement = document.getElementById("tour") as HTMLElement;
  const dateElement = document.getElementById("date") as HTMLElement;
  const hourElement = document.getElementById("hour") as HTMLElement;
  const adultElement = document.getElementById("adult") as HTMLElement;
  const childElement = document.getElementById("child") as HTMLElement;
  const qrElement = document.getElementById("qr") as HTMLImageElement;
  const btnConfirmar = document.getElementById(
    "btnConfirmar",
  ) as HTMLButtonElement;
  const params = new URLSearchParams(window.location.search);
  const id = params.get("booking") || "";
  const notyf = new Notyf({
    duration: 3000,
    position: { x: "center", y: "bottom" },
  });
  const form = document.querySelector("form") as HTMLFormElement;
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    btnConfirmar.disabled = true;

    const formData = new FormData(form);
    const nombre = (formData.get("nombre") ?? "").toString().trim();
    const apellido = (formData.get("apellido") ?? "").toString().trim();
    const email = (formData.get("email") ?? "").toString().trim();
    const telefono = (formData.get("telefono") ?? "").toString().trim();

    if (!nombre || !apellido || !email || !telefono) {
      notyf.error({
        message: `Por favor, complete todos los campos.`,
      });
      return;
    }
    if (!id) {
      notyf.error({
        message: `ID de reserva no encontrado. Por favor, regrese a la página de reservas.`,
      });
      return;
    }

    const bookingData = {
      nombre,
      apellido,
      email,
      telefono,
      id,
    };
    try {
      const { data, error } =
        await actions.bookingClient.confirmBooking(bookingData);
      if (error) {
        throw new Error(
          error.message || "Error desconocido al confirmar la reserva.",
        );
      }

      if (data) {
        const { ticketid, img, name_es, date_booking, hours, adult, child } = data;
        form.reset();
        ticket.classList.add("opacity-100");
        tourElement.textContent = name_es;
        imgTourElement.src = img;
        imgTourElement.alt = `Imagen del tour ${name_es}`;
        dateElement.textContent = new Date(date_booking).toLocaleDateString(
          "es-ES",
          {
            weekday: "long",
            year: "numeric",
            month: "long",
            day: "numeric",
          },
        );
        hourElement.textContent = `Hora: ${hours.slice(0, 5)} Hrs (Horario local)`;
        adultElement.textContent = `${adult} Adulto${adult > 1 ? "s" : ""}`;
        childElement.textContent = `${child} Niño${child > 1 ? "s" : ""}`;
        const qrCodeDataUrl = await QRCode.toDataURL(ticketid);
        qrElement.src = qrCodeDataUrl;
        qrElement.alt = `Código QR del ticket ${ticketid}`;
        btnConfirmar.disabled = true;
        btnConfirmar.textContent = "Reserva Confirmada";
        btnConfirmar.classList.remove("bg-buttons", "text-text-button");
        btnConfirmar.classList.add("bg-fondo-place", "text-text-place");
        thowConfetti();
      }
    } catch (error) {
      console.error("Error:", error);
      notyf.error({
        message: `Ocurrió un error al procesar la reserva. Por favor, inténtelo de nuevo.`,
      });
    }
  });
</script>
