---
import { ui } from "@/i18n/ui";
const { lang } = Astro.params;
const t = ui[lang || "es"];
---
<section class="pt-3">
    <h1 class="text-3xl font-bold mb-4">{t["contact.title"]}</h1>
    <p class="text-lg mb-4">{t["contact.description"]}</p>
    <img src="#" alt="Imagen de contacto" class="w-full h-auto mb-6 rounded-lg shadow-lg" />
    <form class="p-1 md:px-40 pb-40">
        <div class="mb-4">
            <label for="nombre" class="block text-[16px] font-medium mb-2">{t["contact.name.input"]} <span class="text-red-800 align-middle">*</span></label>
            <input type="text" id="nombre" name="nombre" class="w-full p-3 bg-fondo-place text-text-place rounded-lg focus:outline-none focus:ring-2 focus:ring-text-place" required placeholder={t["contact.name.label"]} />
        </div>
        <div class="mb-4">
            <label for="email" class="block text-[16px] font-medium mb-2">{t["contact.email.input"]}<span class="text-red-800 align-middle">*</span></label>
            <input type="email" id="email" name="email" class="w-full p-3 bg-fondo-place text-text-place rounded-lg focus:outline-none focus:ring-2 focus:ring-text-place" required placeholder={t["contact.email.label"]} />
        </div>
        <div class="mb-4">
            <label for="telefono" class="block text-[16px] font-medium mb-2">{t["contact.phone.input"]}<span class="text-red-800 align-middle">*</span></label>
            <input type="tel" id="telefono" name="telefono" class="w-full p-3 mb-2 bg-fondo-place text-text-place rounded-lg focus:outline-none focus:ring-2 focus:ring-text-place" required placeholder={t["contact.phone.label"]} />
        </div>
        <div class="mb-4">
            <label for="mensaje" class="block text-[16px] font-medium mb-2">{t["contact.body.input"]}<span class="text-red-800 align-middle">*</span></label>
            <textarea id="mensaje" name="mensaje" class="w-full p-3 bg-fondo-place text-text-place rounded-lg focus:outline-none focus:ring-2 focus:ring-text-place" rows="4" required placeholder={t["contact.body.label"]}></textarea>
        </div>
        <button type="submit" class="bg-buttons text-text-button cursor-pointer p-4 w-50 rounded-full hover:bg-buttons/85 transition-colors">
            {t["contact.button"]}
        </button>
    </form>
</section>