<section class="p-4">
    <h1 class="text-2xl font-bold">Destinos populares</h1>
    <div class="flex gap-3 py-5">
        <a href="#" class="w-[928px] duration-200 transform transition hover:scale-105" aria-label="Tour en Atacama">
            <img src="/public/img/atacama.webp" class="w-full h-auto rounded-xl hover:shadow-xl" alt="Tour en Atacama">
            <p class="mt-2 text-lg">Atacama</p>
        </a>
        <a href="#" class="w-[928px] duration-200 transform transition hover:scale-105" aria-label="Tour en Valparaíso">
            <img src="/public/img/valparaiso.webp" class="w-full h-auto rounded-xl hover:shadow-xl" alt="Tour en Valparaíso">
            <p class="mt-2 text-lg">Valparaíso</p>
        </a>
        <a href="#" class="w-[928px] duration-200 transform transition hover:scale-105" aria-label="Tour en Santiago">
            <img src="/public/img/santiago.webp" class="w-full h-auto rounded-xl hover:shadow-xl" alt="Tour en Santiago">
            <p class="mt-2 text-lg">Santiago</p>
        </a>
        <a href="#" class="w-[928px] duration-200 transform transition hover:scale-105" aria-label="Tour en Patagonia">
            <img src="/public/img/patagonia.webp" class="w-full h-auto rounded-xl hover:shadow-xl" alt="Tour en Patagonia">
            <p class="mt-2 text-lg">Patagonia</p>
        </a>
    </div>
</section>