<header class="flex justify-between py-3 px-[40px] text-text items-center">
    <div class="">

        Better With a Teacher
    </div>
    <nav class="mr-5 flex w-full justify-end">
        <ul class="flex gap-5 items-center mr-5">
            <li>
                <a href="/">Explorar</a>
            </li>
            <li>
               <a href="nosotros">Quienes Somos</a>
            </li>
            <li>
                <a href="tours">Tours</a>
            </li>
            <li>
                <a href="contacto">Contacto</a>
            </li>  
        </ul>
        <button id="random" type="button" class="w-32 py-2 px-8 bg-buttons text-text-button rounded-2xl m-3 cursor-pointer hover:opacity-90">Aleatorio</button>
    </nav>
</header>