---
import { ui } from "@/i18n/ui";
const { lang } = Astro.params;
const t = ui[lang || "es"];
---
<section>
    <article>
        <header>
            <h1 class="text-4xl font-bold mb-6">{t["about.title"]}</h1>
            <p class="text-lg text-pretty">
                {t["about.description"]}
            </p>
        </header>
        <section class="mt-8">
            <h2 class="text-3xl font-semibold mb-4">{t["about.team"]}</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="bg-white p-6 flex flex-col items-center justify-center">
                    <img src="https://media.guruwalk.com/lmxyfam5hg6mhz76scuwtlld79uv" alt="Diego" class="w-55 h-55 rounded-full mb-3">
                    <h3 class="text-xl font-bold mb-2">Diego</h3>
                    <p class="text-selected">{t["about.cargo1"]}</p>
                </div>
                <div class="bg-white p-6 flex flex-col items-center justify-center">
                    <img src="#" alt="María" class="w-55 h-55 rounded-full mb-3">
                    <h3 class="text-xl font-bold mb-2">María</h3>
                    <p class="text-selected">{t["about.cargo2"]}</p>
                </div>
                <div class="bg-white p-6 flex flex-col items-center justify-center">
                    <img src="#" alt="Juan" class="w-55 h-55 rounded-full mb-3">
                    <h3 class="text-xl font-bold mb-2">Juan</h3>
                    <p class="text-selected">{t["about.cargo3"]}</p>
                </div>
            </div>
        </section>
    </article>
</section>