<section>
    <article>
        <header>
            <h1 class="text-4xl font-bold mb-6">Nuestra Historia</h1>
            <p class="text-lg text-pretty">
                ¡Hola! Soy diego. Nací y crecí en Santiago y soy un viajero nato, padre de un niño y aficionado a la música. He recorrido en bicicleta más de 5 mil kilómetros por Chile en Atacama, Carretera austral, Valle del elqui, Cajón del maipo y también partes de Argentina. También he realizado varias caminatas en Chile, por lo que puedo dar muchas recomendaciones para aquellos que buscan aventuras al aire libre. Toda mi formación universitaria la hice en Vaparaíso donde también me convertí en guía turístico para pasajeros de cruceros. Di lecciones de inglés como lengua extranjera en una escuela remota en los andes durante 5 años, hasta que mi vida cambió cuando me convertí en padre hace 3 años. ¡Fue entonces cuando decidí aplicar mis habilidades docentes para compartir todas mis experiencias en este país con todos los visitantes que han venido a disfrutar de nuestras maravillas!
            </p>
        </header>
        <section class="mt-8">
            <h2 class="text-3xl font-semibold mb-4">Nuestro equipo</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="bg-white p-6 flex flex-col items-center justify-center">
                    <img src="https://media.guruwalk.com/lmxyfam5hg6mhz76scuwtlld79uv" alt="Diego" class="w-55 h-55 rounded-full mb-3">
                    <h3 class="text-xl font-bold mb-2">Diego</h3>
                    <p class="text-selected">Guía turístico y amante de la naturaleza.</p>
                </div>
                <div class="bg-white p-6 flex flex-col items-center justify-center">
                    <img src="#" alt="María" class="w-55 h-55 rounded-full mb-3">
                    <h3 class="text-xl font-bold mb-2">María</h3>
                    <p class="text-selected">Especialista en cultura local y gastronomía.</p>
                </div>
                <div class="bg-white p-6 flex flex-col items-center justify-center">
                    <img src="#" alt="Juan" class="w-55 h-55 rounded-full mb-3">
                    <h3 class="text-xl font-bold mb-2">Juan</h3>
                    <p class="text-selected">Experto en historia y tradiciones chilenas.</p>
                </div>
            </div>
        </section>
    </article>
</section>