---
import { ui } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import Confirmacions from "@/components/Confirmacion.astro";
import Ticket from "@/components/Ticket.astro";
const { lang } = Astro.params;
const t = ui[lang || "es"];
---

<Layout mainClass="md:px-20">
  <div
    class="container-confirmed mx-60 py-10 bg-white border border-gray-100 rounded-3xl shadow-2xl mt-20 p-5 hidden"
  >
    <div class="flex flex-col justify-center items-center h-full text-center">
      <div class="bg-green-100 p-3 rounded-full w-fit mx-auto mb-4">
        <svg
          class="w-10 h-10 text-green-500"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"></path>
        </svg>
      </div>
      <h1 class="text-2xl font-bold text-gray-800 mb-3">
        {t["confirmed.estatus.title"]}
      </h1>
      <span class="text-gray-600">
        {t["confirmed.estatus.description"]}
      </span>
      <button
        type="button"
        class="send-mail text-blue-500 hover:text-blue-700 cursor-pointer"
        >{t["confirmed.estatus.button"]}</button
      >
    </div>
  </div>
  <div
    class="container-confirmation grid grid-rows-2 md:grid-cols-2 md:grid-rows-none md:gap-3 opacity-0"
  >
    <Confirmacions />
    <Ticket />
  </div>
</Layout>

<script>
  import { actions } from "astro:actions";
  import { Notyf } from "notyf";
  const params = new URLSearchParams(window.location.search);
  const id = params.get("booking") || "";
  const sendMail =
    (document.querySelector(".send-mail") as HTMLButtonElement) || null;
  const notyf = new Notyf({
    duration: 3000,
    position: { x: "center", y: "bottom" },
  });
  async function loadStatus() {
    try {
      const { data, error } = await actions.bookingClient.getBookingStatus({
        id,
      });
      if (error) {
        throw new Error(
          error.message ||
            "Error desconocido al cargar el estado de la reserva.",
        );
      }
      if (data) {
        document
          .querySelector(".container-confirmed")
          ?.classList.remove("hidden");
        document
          .querySelector(".container-confirmation")
          ?.classList.add("hidden");
      }
      document
        .querySelector(".container-confirmation")
        ?.classList.add("opacity-100");
    } catch (error) {
      console.error("Error al cargar el estado de la reserva:", error);
      notyf.error({
        message: `Ocurrió un error al cargar el estado de la reserva. Por favor, inténtelo de nuevo.`,
      });
    }
  }
  loadStatus();
  sendMail.addEventListener("click", async () => {
    try {
      const { data, error } = await actions.bookingClient.send({ id });
      if(data?.success){
        notyf.success({
        message: `Mensaje enviado`,
      });
      }
    } catch (error) {
      console.error(error);
    }
  });
</script>
