---
import '../styles/global.css'
import Header from '@/components/Header.astro'
const { mainClass } = Astro.props;
const pdMain = mainClass ? mainClass : 'px-[160px] py-6';
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Tours en Santiago de Chile guiados por profesores. Explora la rica cultura e historia con expertos. ¡Una visita guiada inigualable te espera, reserva ahora!">
		<title>Better With a Teacher - Los mejores Tours en Santiago de Chile</title>
	</head>
	<body>
		<Header />
		<main class={pdMain}>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
<script>
    const button = document.getElementById('random') as HTMLButtonElement;

    button?.addEventListener('click', async () => {
       try {
		button.disabled = true;
		const originalContent = button.innerHTML;
		button.innerHTML = `
		<svg class="animate-spin h-5 w-5 inline-block text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
			<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
			<path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
		</svg>
		`;
		const response = await fetch('/api/random-tour');
		const data = await response.json();
		console.log(data);
		if (data.response && data.response.slug) {
			 setTimeout(() => {
				window.location.href = `/${data.response.slug}`;
			}, 1000);

		} else {
			console.error('Respuesta inválida del servidor');
		}
    	button.disabled = false;
       } catch (error) {
           console.error('Error inesperado:', error);
       }
    });
</script>
